.main--body {
    font-family: 'Gill Sans';
    font-weight: normal;
    font-size: 18px;
}
.header--wrap {
    max-width: 1400px;
    margin: 0 auto;
}
.header--navbar {
    height: 120px;
    box-sizing: border-box;
    padding: 30px 30px;
    background: rgb(23,95,153);
    background: linear-gradient(0deg, rgba(23,95,153,0.2) 0%,
    rgba(205,221,233,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 100%);
}
.header__logo--img {
    height: 60px;
}
.header__number {
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: right;
    color: #1D75BD;
}
.btn {
    display: inline-block;
    box-sizing: border-box;
    background-color: #27AAE2;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid transparent;
}
.btn:hover {
    border: 2px solid #1D75BD;
}

.container {
    max-width: 1100px;
    margin: 0 auto;

}
.header--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visit--header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.visit--header__title {
    color: #1D75BD;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 0;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image-source: linear-gradient(90deg, rgba(23,95,153,1) 70%, rgba(39,170,226,1) 70%);
    border-image-slice: 1;
}

.header__doctor--dtn {
    display: none;
}

.visit {
    min-height: calc(100vh - 120px - 10px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.active {
    display: block;
}
.modal.active {
    display: flex;
    align-items: center;
}

/* Modal Content */
.selectDoctor {
    margin: 5px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}
.modal-content {
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 30px 80px;
    box-sizing: border-box;
    border: 2px solid #175F99;
    width: 40%;
}
.form-label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 5px;
}
input, textarea, select {
    margin:  5px 0 5px 0;
    border:1px solid #175F99;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Gill Sans';
}
.form-name {
    font-size: 24px;
    font-weight: bold;
    color: #175F99;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
}
.submit-btn {
    text-align: center;
    width: 100%;
}


/* The Close Button */
.close {
    display: block;
    position: absolute;
    right: -22px;
    top: -22px;
    color: #175F99;
    box-sizing: border-box;
    height: 45px;
    width: 45px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    border: 2px solid #175F99;
    border-radius: 50%;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    background: #175F99;
    cursor: pointer;
}

.visit__doctors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background: #27AAE220;
    padding: 20px;
}
.visit__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 2px solid #175F99;
    background: #fff;
    padding: 0 20px 20px 20px;
}
.visit__doctor {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.visit__name {
    font-size: 22px;
    line-height: 24px;
    width: 70%;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.visit__info {
    width: 100%;
}

.visit__buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}
.visit__moreinfo {
    position: absolute;
    transition: 0.3s;
    opacity: 1;
    top:0;
    z-index: 10;
    left: -2px;
    right: -2px;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #175F99;
    border-top-color: transparent;
}
.moreinfo--wrap {
    position: relative;
    margin: 0 -20px;
}
.moreinfo__title {
    width: 40%;
    display: block;
    box-sizing: border-box;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.moreinfo__desc {
    width: 60%;
    display: block;
    box-sizing: border-box;
    padding: 5px 0;
}
.footer {
    height: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: rgb(23,95,153);
    background: linear-gradient(90deg, rgba(23,95,153,1) 70%, rgba(39,170,226,1) 70%);
}

.urgency--line {
    width: calc(100% + 39px);
    height: 5px;
    border: none;
    background-color: #27AAE2;
    margin: 0 0 20px -19px;
}
.bg--red {
    background-color: #ff5454;
}
.bg--yellow {
    background-color: #ffff3f;
}
.bg--green {
    background-color: #52ff52;
}
.hidden {
    display: none;
}
.hovered {
    background: gray;
}
.info-hidden {
    top: -100px;
    opacity: 0;
    z-index: -10;
}
.blur {
    filter: blur(3px);
}